# Virtual Environment
Include/
Lib/
Scripts/
share/
pyvenv.cfg
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log

# PDF files
*.pdf


# Environment variables
.env
.env.local

# obsidian
.obsidian/

# Generated images
assignment_images/

# Generated output
DBMS_Assignment.md

# Exercise folder containing PDFs
/Lab-Exercises

# JSON files having queries
*.json

# Error logs
error_log.txt